body {
  background: white;
  overflow-x: hidden;
  cursor: none;
}

.customCursor {
  position: fixed;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color:rgba(73, 73, 255, 0.8) ;
  box-shadow:
    0 0 20px 10px rgba(73, 73, 255, 0.8),  
    0 0 30px 15px rgba(120, 121, 255, 0.6), 
    0 0 40px 25px rgba(163, 163, 255, 0.4); 
  pointer-events: none;
  z-index: 1000; 
  
}

.bg-text {
  font-size: 70px;
  line-height: 1.2;
  font-weight: 700;
  background: url('/bg.jpg') no-repeat;
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

